<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Moj blog</title>
    <script src="{{url_for('static', filename='skrypt.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>

    <div class="app">
        <h1 class='naglowek'>Witaj na blogu</h1>
        <p class='tekscik'>bblablabla bblablabla bblablablabblablabla</p>

        <hr>
        {% for post in posty %}
            <h2>{{ post.tytul }}</h2>
            <p>{{ post.tresc }}</p>
            <br><br>
        {% endfor %}

        <form>
            <p>Wpisz tutaj co chcesz!</p><input type="text" id="daneUsera"/>
            <button onclick="klik()">WYslij!</button>
        </form>
    </div>
</body>
</html>